<h2>Laptops</h2>

<a routerLink="/products/create" mat-flat-button>
    Create a new Laptop
</a>

@if (laptops) {
    <div class="laptop-list">
        @for (laptop of laptops; track laptop.id) {
            <div class="laptop-card">
                <div class="laptop-name">{{laptop.name}}</div>
                <div class="laptop-actions">
                    <a mat-flat-button routerLink="/products/edit/{{laptop.id}}">Edit</a>
                    <button mat-flat-button color="warn" (click)="delete(laptop.id)">Delete</button>
                </div>
            </div>
        }
    </div>
}